

body{
    background: rgb(0, 0, 0);
    font: normal 30pt monospace;
    color: rgb(0, 0, 0);}

header{ font: bold 28pt monospace;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(7, 48, 56);
    background-color:rgb(155, 225, 240);
    margin: auto;
    border-radius: 20px;
    padding: 25px;
    width: 700px;
    }


section { position: fixed;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap:10px }
    
    div#pt1 {font: normal 75pt arial;
        color: rgb(155, 225, 240);}
    
    div#pt2 {font: normal 75pt arial;
        color: rgb(155, 225, 240);}


footer {position: fixed;
    font: normal 12pt times;
    color: white; 
    width: 100px;
    inset: 0;
    margin: auto;
    text-align: center;
    margin-top: 400px;
}